<h1> New file </h1>

<% form_for @tmpfile, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

    <p>
      <%= f.label :uploaded_data %> <br/>
      <%= f.file_field :uploaded_data %>
    </p>

  <p>
    <%= f.submit "Create" %>
  </p>

<% end %>
